<div id="bottom">    
  <div id="summary_stats">&nbsp; &nbsp;<b>% Loans Given to Agr/Food Projects - April</b></div>
  <!-- http://stackoverflow.com/questions/8700263/trying-to-implement-a-next-button-using-twitter-bootstrap-tabs-js -->
  <div id="storyboard">
    <b>To Put Food on The World's Table </b> <br/> 
    &nbsp; &nbsp;For certain lenders, identity plays an especially big role in Kiva lending decisions.
    <div id="previous_next_buttons" class="btn-group pull-right _tabs_navigation" data-toggle="buttons-radio">           
       <a id="previous_button" class="btn btn-small btn-info" href="#">
          <i class="icon-arrow-left icon-white"></i>
        </a>          
        <a id="next_button" class="btn btn-small btn-info" href="#">
          <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>   
    <li class="btn-group">
          <button id="close_storyboard_button" class="btn btn-danger" type="button" onclick='close_storyboard()'>Exit Story</button>
    </li> 
    <div id="story_container">
      <ul class="nav nav-tabs">
        <li class="active">
            <a href="#column-0" data-toggle="tab">
                Welcome!
            </a>
        </li>
        <li>
            <a href="#column-1" data-toggle="tab">
                1
            </a>
        </li>
        <li>
            <a href="#column-2" data-toggle="tab">
                2
            </a>
        </li>
        <li>
            <a href="#column-3" data-toggle="tab">
                3
            </a>
        </li>
        <li>
            <a href="#column-4" data-toggle="tab">
                4
            </a>
        </li>       
        <li>
            <a href="#column-5" data-toggle="tab">
                5
            </a>
        </li>
        <li>
            <a href="#column-6" data-toggle="tab">
                6
            </a>
        </li>
        <li>
            <a href="#column-7" data-toggle="tab">
                7
            </a>
        </li>
        <li>
            <a href="#column-8" data-toggle="tab">
                8
            </a>
        </li>            
        <li>
            <a href="#column-9" data-toggle="tab">
                Conclusion
            </a>
        </li>            
      </ul>
      
    <div class="tab-content">
      <div id="column-0" class="tab-pane active" data-id="0">
        <p>
            Does a lender's occupation affect the types of projects they support? We'll focus on agriculture/food projects,
            using this visualization of Kiva.org's April data on U.S. lenders for 2007-2012.
            Click on the next arrow button that appears in the upper right corner of this box once data is loaded.
        </p>
      </div>
      <div id="column-1" class="tab-pane" data-id="1">
        <p>
           First, let's take a look at an occupation that is generally considered to have no ties to agriculture/food businesses: photographer.
           Out of all projects U.S. photographers supported, agriculture/food projects made up 40%-50%, around the total average for
           U.S. lenders.
        </p>
      </div>
      <div id="column-2" class="tab-pane" data-id="2">
        <p>
            In 2007, photographers supported projects in most continents (hover over circles on the map to see loan/lender details 
            - note: the area of each loan circle is proportional to the toal dollar amount of the loan, which can include money from lenders
            not currently shown on the map).
        </p>
      </div>
      <div id="column-3" class="tab-pane" data-id="3">
        <p>
            As Kiva gained traction in 2008, more projects were supported in general. The proportion of types of projects, however,
            remained the same in general.
        </p>
      </div>
      <div id="column-4" class="tab-pane" data-id="4">
        <p>
            The number of projects and size ($) of loans kept increasing overall in 2009. Still, nothing 
            special with respect to agriculture/food projects.
        </p>
      </div>
      <div id="column-5" class="tab-pane" data-id="5">
        <p>
            The trend continued for U.S. photographers through 2012.
        </p>
      </div>
      <div id="column-6" class="tab-pane" data-id="6">
        <p>
            Farmers who lend through Kiva have the option to help small business owners
            with the same professional calling as them (agriculture/food).
            On the one hand, they might be more likely to support them due to feelings of solidarity or 
            expert knowledge in the industry.
            On the other hand, Kiva might represent an opportunity to be involved in areas 
            they are not exposed to in daily life. Once the farmer data is loaded, hit next to find out
            which was the case.
        </p>
      </div>
      <div id="column-7" class="tab-pane" data-id="7">
        <p>
            Farmers are the lender group most likely to support entrepreneurs in agriculture and food business.
            This is the case in every continent.
        </p>
      </div>    
      <div id="column-8" class="tab-pane" data-id="8">
        <p>
            This pattern is consistent for all time periods. Indeed, these lenders help put food on the world's table in multiple ways.      
        </p>
      </div>           
      <div id="column-9" class="tab-pane" data-id="9">
        <p>
            For U.S. farmers, their daily mission to provide food for others extends 
            to their lending activities through Kiva.org.
            What other interesting patterns can we find? To look for your own insight, hit the "Exit Story" 
            button and start the visualization's interactive mode. For requests for more 
            features or analysis, please contact Han at hankim2354@gmail.com. Thanks!
        </p>
        </div>          
      <div class="sep"></div>
    </div>        
  </div> <!-- end of storyboard -->
</div> <!-- end of bottom -->