<div id="bottom" class="row-fluid">    
  <div id="summary_stats" class="span5">
    <div class="center"><h4>% Loans Given to Agr/Food Projects - April</h4></div>
  </div>
  <div id="storyboard" class="span7">
    <div class="row-fluid">
      <div class="span6">
        <h4>
          To Put Food on The World's Table&nbsp; &nbsp;
        </h4>
      </div>
      <div class="span6" style="height: 40px;">
        <div style="margin-top: 5px;">
          <div id="previous_next_buttons" class="btn-group _tabs_navigation" data-toggle="buttons-radio">           
             <a id="previous_button" class="btn btn-info ca_button" href="#">
                <i class="icon-arrow-left icon-white"></i>
              </a>          
              <a id="next_button" class="btn btn-info ca_button" href="#">
                <i class="icon-arrow-right icon-white"></i>
              </a>
          </div>      
          <li class="btn-group pull-right">
            <button id="close_storyboard_button" class="btn btn-danger ca_button" type="button" onclick='close_storyboard()'><b>x</b></button>
          </li>
        </div>
      </div>
    </div>
    <p><i>&nbsp; &nbsp;For certain lenders, identity plays an especially big role in Kiva lending decisions.</i></p>
    {{include 'default/story.html'}}        
  </div> <!-- end of storyboard -->
</div> <!-- end of bottom -->