<link type="text/css" rel="stylesheet" href="/kivaflava/static/css/bootstrap.min.css"/> 
<link type="text/css" rel="stylesheet" href="/kivaflava/static/css/bootstrap-responsive.min.css"/> 
<link type="text/css" rel="stylesheet" href="/kivaflava/static/css/style.css"/>
<script type="text/javascript" src="/kivaflava/static/js/jquery-1.9.1.min.js"></script>    
<script type="text/javascript" src="/kivaflava/static/js/bootstrap.min.js"></script>   
<script type="text/javascript" src="/kivaflava/static/js/d3.js"></script>
<script type="text/javascript" src="/kivaflava/static/js/d3.csv.js"></script>
<script type="text/javascript" src="/kivaflava/static/js/d3.geo.js"></script>
<script type="text/javascript" src="/kivaflava/static/js/d3.geom.js"></script>
<script type="text/javascript" src="/kivaflava/static/js/d3.v3.min.js"></script> 
<script type="text/javascript" src="/kivaflava/static/js/d3.geo.projection.v0.min.js"></script>
<script type="text/javascript" src="/kivaflava/static/js/topojson.v0.min.js"></script>    
<script type="text/javascript" src="/kivaflava/static/js/crossfilter.min.js"></script>  
<script type="text/javascript" src="/kivaflava/static/js/queue.min.js"></script>