<div id="non_header" class="row-fluid">
  
  <div id="map_container" class="span8"></div>

  <div id="desc_div" class="span4">
    <div id="lender_desc" class="person_desc row-fluid">
      <h4>&nbsp; &nbsp;lender participates because...</h4>
      <p>(**Search and hover over red circles for details on individual lenders**)</p>
    </div>
    <div id="borrower_desc" class="person_desc row-fluid">
      <h4>&nbsp; &nbsp;borrower needs a loan for...</h4>
      <p>(**Search and hover over non-red circles for details on individual loans and borrowers**)</p>
    </div>
  </div> 
  
</div>