<div id ="header_time" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse" style="text-align:center">   
        <ul class="nav">           
          <li class="divider-vertical"></li>              
          <li><a href="#">2. Visualize loans on the map for specific time periods:</a></li>
          <li class="btn-group" data-toggle="buttons-radio">
          <button id="search_button_2007" class="btn btn-success" type="button" onclick='change_cat_search(data_2007)'>04/2007</button>
          <button id="search_button_2008" class="btn btn-success" type="button" onclick='change_cat_search(data_2008)'>04/2008</button>
          <button id="search_button_2009" class="btn btn-success" type="button" onclick='change_cat_search(data_2009)'>04/2009</button>
          <button id="search_button_2010" class="btn btn-success" type="button" onclick='change_cat_search(data_2010)'>04/2010</button>
          <button id="search_button_2011" class="btn btn-success" type="button" onclick='change_cat_search(data_2011)'>04/2011</button>
          <button id="search_button_2012" class="btn btn-success" type="button" onclick='change_cat_search(data_2012)'>04/2012</button>
          </li>
          <li class="divider-vertical"></li>  
        </ul>
      </div>
    </div>
  </div>
</div>  <!------ end of header_time ------>